name: Release

on:
  release:
    types:
      - published


permissions:
  contents: write


jobs:
  releases-matrix:
    name: Release Go Binaries
    runs-on: macos-latest
    steps:

      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - run: make compile

      - uses: apple-actions/import-codesign-certs@v6
        with:
          p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
          p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}

      - uses: halprin/macos-sign-package-notarize@v2
        with:
          path-to-binaries: ./evn-pilot-conversion
          signing-identity: ${{ secrets.SIGNING_IDENTITY }}
          app-store-connect-key: ${{ secrets.MACOS_APP_STORE_CONNECT_KEY }}
          app-store-connect-key-id: ${{ secrets.MACOS_APP_STORE_CONNECT_KEY_ID }}
          app-store-connect-issuer-id: ${{ secrets.MACOS_APP_STORE_CONNECT_ISSUER_ID }}
          archive-files: ./evn-pilot-conversion README.md LICENSE
          archive-disk-name: EVN Pilot Conversion
          archive-file-path: ./evn-pilot-conversion-${{ github.event.release.tag_name }}.dmg

      - name: Upload Release Asset
        run: gh release upload ${{ github.event.release.tag_name }} ./evn-pilot-conversion-${{ github.event.release.tag_name }}.dmg --clobber
        env:
          GH_TOKEN: ${{ github.token }}
